# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=inbox-zero-db
DATABASE_URL=postgresql+asyncpg://user:change-me@localhost:5432/inbox-zero-db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0
